<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css"
          href="/frameworks/bulma/css/bulma.min.css" th:href="@{/frameworks/bulma/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css"
          href="/css/style.css" th:href="@{/css/style.css}">

    <title>Fennecwave - Oooops</title>
</head>
<body>

<div class="errorContainer">
    <img id="errorImg" src="/imgs/logo_error.png" th:src="@{/imgs/logo_error.png}" width="250" height="auto" alt="FW">
    <div id="errorTitle" class="errorTxt">Woops...</div>
    <div id="errorSubtitle" class="errorTxt">Something wrong happened</div>
    <div class="errorTxt" th:text="'(' + ${message} + ')'"></div>
    <a id="backHome" class="errorTxt" th:href="@{/}" href="index.html">Go back to safety</a>
</div>

<!-- Gitlab Link -->
<div th:replace="fragments/gitlab_link :: gitlabLink"></div>

</body>
<script src="/js/main.js"></script>
</html>