<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css"
          href="/frameworks/bulma/css/bulma.min.css" th:href="@{/frameworks/bulma/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css"
          href="/css/style.css" th:href="@{/css/style.css}">

    <title>Fennecwave - Genres</title>
</head>
<body>

    <!-- Top navigation bar -->
    <div th:replace="fragments/navigation_bar :: appTopNav(tab='genres')"></div>

    <!-- Genres selection list for desktop -->
    <div id="desktopList">
        <div id="genre-title" class="genre-title">Title</div>
        <aside id="genreList" class="genres-sidenav">
            <a th:each="genre : ${genres}" class="genre-item"
               th:id="${genre.label}"
               th:href="@{/genres(label=${genre.label})}" th:text="${genre.label}">
            </a>
        </aside>
    </div>

    <!-- Genres selection list for mobile -->
    <div id="mobileList">
        <select onchange="location = this.value;">
            <option th:each="genre : ${genres}" class="genre-item"
                    th:id="${genre.label}"
                    th:value="'/genres?label=' + ${genre.label}"
                    th:text="${genre.label}"
                    th:selected="${selectedGenre != null && selectedGenre == genre.label}">
            </option>
        </select>
    </div>

    <!-- Content -->
    <div th:if="${files.size()}" id="inGenres" class="profile-container">
        <div id="inProfileContent" class="content">
            <div class="music-capsules-grid">
                <div th:each="file : ${files}">
                    <div th:replace="fragments/visual_container :: visualContainer"></div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Full view of a visual -->
<div th:replace="fragments/visual_fullview :: visualFullview"></div>

<!-- Gitlab Link -->
<div th:replace="fragments/gitlab_link :: gitlabLink"></div>

<script>
    /* Little script to select the proper genre */
    const selection = "[[${selectedGenre}]]";
    if(document.getElementById(selection) !== null) {
        document.getElementById(selection).classList.add("genre-selected-bold");
        document.getElementById('genre-title').innerText = selection;
    }
</script>
<script src="/js/main.js"></script>
</html>