<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" type="text/css"
          href="/frameworks/bulma/css/bulma.min.css" th:href="@{/frameworks/bulma/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css"
          href="/css/style.css" th:href="@{/css/style.css}">

    <title>Fennecwave - Login</title>
</head>
<body>
<p th:text="${loggedInUsername}"></p>
<!-- Content -->
<div class="hero-body">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <img id="logo-login" src="../imgs/logo.png" width="auto" height="100">
                <form  class="box" method="POST"  action="/login">
                    <div class="field">
                        <div class="form-title">Welcome !</div>
                    </div>
                    <div th:if="${error}">
                        <h2 class="inPageErrorText" th:text="${error}"></h2>
                    </div>
                    <div class="field">
                        <label for="" class="label">Username</label>
                        <div class="control has-icons-left">
                            <input  id="form-input-username" type="text" placeholder="e.g. myusername123" class="input" name="username" required>
                            <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input  id="form-input-password"  type="password" placeholder="*******" class="input" name="password" required>
                            <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                        </div>
                    </div>
                    <div id="footerBtns" class="field">
                        <a href="/" class="button">
                            Cancel
                        </a>
                        <button class="button is-success" type="submit">
                            Login
                        </button>
                    </div>
                </form>
                <div class="form-footer">No account ? Register <a href="register">here</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Gitlab Link -->
<div th:replace="fragments/gitlab_link :: gitlabLink"></div>

</body>
</html>