<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css"
          href="/frameworks/bulma/css/bulma.min.css" th:href="@{/frameworks/bulma/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css"
          href="/css/style.css" th:href="@{/css/style.css}">

    <title>Fennecwave - Profile</title>
</head>
<body>

    <!-- Top navigation bar -->
    <div th:replace="fragments/navigation_bar :: appTopNav(tab='profile')"></div>

    <aside id="genreList" class="genres-sidenav">
        <a th:if="${tab == 'Notifications'}" href="/profile?tab=Notifications" class="genre-item genre-selected-bold">Notifications</a>
        <a th:if="${tab != 'Notifications'}" href="/profile?tab=Notifications" class="genre-item">Notifications</a>
        <a th:if="${tab == 'Favourites'}" href="/profile?tab=Favourites" class="genre-item genre-selected-bold">Favourites</a>
        <a th:if="${tab != 'Favourites'}" href="/profile?tab=Favourites" class="genre-item">Favourites</a>
        <a th:if="${tab == 'Uploads'}" href="/profile?tab=Uploads" class="genre-item genre-selected-bold">Uploads</a>
        <a th:if="${tab != 'Uploads'}" href="/profile?tab=Uploads" class="genre-item">Uploads</a>
        <!-- TODO : Settings -->
        <!--<a th:if="${tab == 'Settings'}" href="/profile?tab=Settings" class="genre-item genre-selected-bold">Settings</a>
        <a th:if="${tab != 'Settings'}" href="/profile?tab=Settings" class="genre-item">Settings</a>-->
    </aside>

    <!-- Notifications -->
    <div th:if="${tab == 'Notifications'}">
        <div th:replace="fragments/profile_notifications :: profileNotification(visuals=${favedVisuals})"></div>
    </div>
    <!-- Favourites -->
    <div th:if="${tab == 'Favourites'}">
        <div th:replace="fragments/profile_favourites :: profileFavourites(visuals=${favVisuals})"></div>
    </div>
    <!-- Uploads -->
    <div th:if="${tab == 'Uploads'}">
        <div th:replace="fragments/profile_uploads :: profileUploads(visuals=${authoredVisuals})"></div>
    </div>
    <!-- TODO : Settings -->
    <!--<div th:if="${tab == 'Settings'}">
        <div th:replace="fragments/profile_settings :: profileSettings"></div>
    </div>-->

    <!-- Full view of a visual -->
    <div th:replace="fragments/visual_fullview :: visualFullview"></div>

    <!-- Gitlab Link -->
    <div th:replace="fragments/gitlab_link :: gitlabLink"></div>

</body>
<script src="/js/main.js"></script>
</html>