<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css"
          href="/frameworks/bulma/css/bulma.min.css" th:href="@{/frameworks/bulma/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css"
          href="/css/style.css" th:href="@{/css/style.css}">

    <title>Fennecwave - Trending</title>
</head>
<body>

<!-- Top navigation bar -->
<div th:replace="fragments/navigation_bar :: appTopNav(tab='trending')"></div>

<!-- Content -->
<div th:if="${files.size()}">
    <div class="content">
        <div class="music-capsules-grid">
            <div th:each="file : ${files}">
                <div th:replace="fragments/visual_container :: visualContainer"></div>
            </div>
        </div>
    </div>
</div>

<!-- Full view of a visual -->
<div th:replace="fragments/visual_fullview :: visualFullview"></div>

<!-- Gitlab Link -->
<div th:replace="fragments/gitlab_link :: gitlabLink"></div>

</body>
<script src="/js/main.js"></script>
</html>