<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css"
          href="/frameworks/bulma/css/bulma.min.css" th:href="@{/frameworks/bulma/css/bulma.min.css}">
    <link rel="stylesheet" type="text/css"
          href="/css/style.css" th:href="@{/css/style.css}">

    <title>Fennecwave - Upload</title>
</head>

<body>

<!-- Top navigation bar -->
<div th:replace="fragments/navigation_bar :: appTopNav(tab='upload')"></div>

<div class="hero-body">

    <!-- Title -->
    <div th:if="${visual == null}" id="upload-title" class="upload-header">Step 1 : Select a file or drag it in the drop zone</div>
    <div th:if="${visual != null}" class="upload-header">Step 2 : Customize !</div>

    <!-- Content (preview and edition) -->
    <div class="upload-content">
        <!-- Filters list -->
        <div th:if="${visual != null}" class="upload-content-left">
            <div id="titleFilter" class="upload-side-title">Change Filter</div>
            <div class="upload-side-line"></div>
            <div class="side-items-container">
                <div id="filterList">
                    <tr th:each="filter : ${filters}">
                        <div class="filter-item-container">
                            <img class="filter-icon" th:src="'../imgs/ic_filters/ic_' + ${filter.name} + '.png'"/>
                            <div th:if="${previousFilter != filter.id}"
                                 th:id="${filter.id}" class="filter-upload-item"
                                 th:text="${filter.name}" onclick="selectFilter(this.id);"></div>
                            <div th:if="${previousFilter == filter.id}"
                                 th:id="${filter.id}" class="filter-upload-item genre-selected"
                                 th:text="${filter.name}" onclick="selectFilter(this.id);"></div>
                        </div>
                    </tr>
                </div>
            </div>
            <div class="shadow-bottom"></div>
        </div>

        <!-- Previews and metadata -->
        <div class="upload-content-center">
            <!-- No visual uploaded : empty background -->
            <div th:if="${visual == null}" id="dropZone">
                <img id="background" src="../imgs/ic_upload.png" alt="Upload"/>
            </div>

            <!-- Visual uploaded : result background -->
            <div th:if="${visual != null}">
                <img src="../imgs/ic_uploaded.png" alt="Upload"/>

                <!-- Visual information -->
                <div id="metadata" class="visual-top-container">
                    <div id="visualTitle" class="visualTitle" th:text="${visual.title}"></div>
                    <div id="visualSubtitle" class="visualSubtitle" th:text="${visual.subtitle}"></div>
                    <div class="visualLength" th:text="${visual.length}"></div>
                </div>

                <img id="result" th:src="${visual.pathServed}"/>

                <!-- Edit view of the visual's information -->
                <div id="metadataEditor" class="visual-top-container">
                    <input id="editorTitle" type="text" class="editor">
                    <input id="editorSubtitle" type="text" class="editor">
                    <button id="cancelEditButton" class="upload-button tiny" onclick="closeMetadataEditor()">
                        Cancel
                    </button>
                    <button id="saveEditButton" class="upload-button tiny" onclick="saveMetadata()">
                        Save
                    </button>
                </div>

                <!-- Regenerate loader -->
                <img id="refreshLoader" src="../imgs/ic_refresh.png" alt="Refresh"/>

                <!-- Edit Meta data Button -->
                <button id="editButton" class="text-button"
                        onclick="openMetadataEditor()">
                    <p>EDIT</p>
                    <img id="editIcon" src="../imgs/ic_edit.png" alt="Edit"/>
                </button>

                <!-- TODO : Preview button on hover -->
                <!--<button id="previewButton" class="preview-button"
                        onclick="document.getElementById('preview').style.display = 'flex';">(+)</button>-->
            </div>

            <!-- Cancel Button -->
            <a id="cancelButton" href="/upload" class="upload-button">Cancel</a>

            <!-- Loading animation -->
            <div id="loader1" class="loader"></div>
            <div id="loader2" class="loader"></div>
            <div id="loader3" class="loader"></div>
        </div>

        <!-- Genres list -->
        <div th:if="${visual != null}" class="upload-content-right">
            <div class="upload-side-title">Add Genres</div>
            <div class="upload-side-line"></div>
            <div class="side-items-container">
                <!-- Only connected user can add genres (meaningless otherwise) -->
                <div th:if="${session.loggedInUsername != null}" id="genresList">
                    <tr th:each="genre : ${genres}">
                        <div th:id="${genre.label}" class="genre-upload-item"
                             th:text="${genre.label}" onclick="selectGenre(this.id);"></div>
                    </tr>
                </div>

                <div th:if="${session.loggedInUsername == null}" class="loginGenresError">
                    You need to be logged in in order to add genres.
                    <a href="/login">Login</a> or <a href="/register">register</a>.
                </div>
            </div>
            <div class="shadow-bottom"></div>
        </div>
    </div>

    <!--Buttons (form) -->
    <div th:if="${visual == null}" class="upload-footer">
        <button id="openFileButton" class="upload-button" onclick="openFileExplorer()">Open File Explorer</button>
    </div>
    <div th:if="${visual != null}" class="upload-footer">
        <div class="footer-horizontal">
            <a class="upload-button tiny" href="/upload">Restart</a>
            <a id="download-button" class="upload-button tiny" th:href="${visual.pathServed}">Download</a>
        </div>

        <!-- Save to profile (displayed in Trending, New and Uploads from the user)-->
        <div class="footer-horizontal" th:if="${session.loggedInUsername != null}">
            <form id="saveForm" method="POST" action="/save">
                <input type="hidden" name="idVisual" th:value="${visual.id_visual}">
                <input type="hidden" name="pathServed" th:value="${visual.pathServed}">
                <input type="hidden" name="length" th:value="${visual.length}">
            </form>

            <button id="uploadBtn" class="upload-button" th:onclick="save()">Save</button>
        </div>
    </div>

    <div th:if="${visual != null}" id="preview">
        <img class="fullview" th:src="${visual.pathServed}"/>
    </div>

    <!-- ============================================================================================= -->
    <!-- Invisible form to send the data to the API (illusion of multiple steps for visuals' creation) -->
    <form id="dataForm" class="form-container" method="POST" enctype="multipart/form-data" action="/upload">
        <input th:if="${previousFilename != null}" type="text" name="previousFilename" th:value="${previousFilename}"/>
        <input th:if="${previousFilename == null}" id="fileInput" type="file" name="file" onchange="uploadVisual()"/>
        <input id="filterInput" type="text" name="filterId" th:value="${basicFilterId}"/>

        <input id="genresInput" type="text" name="genres"/>
        <input id="titleInput" type="text" name="title"/>
        <input id="subtitleInput" type="text" name="subtitle"/>
        <input id="lengthInput" type="number" name="length"/>
    </form>
    <!-- ============================================================================================= -->

</div>

<!-- Gitlab Link -->
<div th:replace="fragments/gitlab_link :: gitlabLink"></div>

</body>
<script src="/js/api-data-upload.js"></script>
<script src="/js/main.js"></script>
</html>