
html {
    height: 100%;
}

body {
    background-color: #1D1D1D;
    width: 100%;
    height: 100%;
    position: fixed;
    color: white;
}

/*
 * ==== GITLAB LINK ====
 */

.gitlab-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 0;
    height: 20px;
    color: white;
    line-height: 20px;
    display: flex;
    gap: 10px;
}

.gitlab-link:hover {
    color: #00c3ff;
}

.gitlab-link img {
    height: 100%;
}

/*
 * ==== LOGIN ==== 
 */

.form-title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.form-subtitle {
    color: rgba(0, 0, 0, 0.577);
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-footer {
    color: rgba(255, 255, 255, 0.577);
    text-align: center;
    font-size: 16px;
}

#logo-login {
    margin-bottom: 20px;
}

#footerBtns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/*
 * ==== TOP NAVIGATION BAR ====
 */

.navbar {
    background-color: #00000009;
    border-bottom: 2px solid #00000009;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

a.navbar-item {
    background: none;
    color: white;
}

a.navbar-item:hover {
    color: white;
    background: none;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

#search {
    background-color: white; 
    color: black;
    border: none;
    display: none;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}   

#search-container {
    width: 100%;
}

#login-item {
    color: #00c3ff;
}

#login-item:hover {
    background-color: transparent;
    border-bottom: 2px solid #00c3ff;
    margin-bottom: -2px;
}

#logout-item {
    color: #ff4747;
}

#logout-item:hover {
    background-color: transparent;
    border-bottom: 2px solid #ff4747;
    margin-bottom: -2px;
}

#register {
    background-color: #f5f5f5;
    width: 100px;
}

#register:hover {
    background-color: #c2c2c2;
}

.selected {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

#logo-nav {
    border: none;
    margin: 0;
}

#search-button {
    color: white;
    line-height: normal;
}

#search-button:hover {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

#login-username {
    display: none;
}

#backBtn {
    position: absolute;
    height: 30px;
    width: auto;
    top: 15px;
    left: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

#backBtn img {
    height: 30px;
}

#backBtn a {
    position: relative;
    display: block;
    margin-left: 10px;
    padding: 0;
    line-height: 30px;
    text-align: start;
    text-decoration: none;
    color: white;
}

.hamburger-item {
    background-color: white;
}

/* 
 * ==== Main content container ====
 */

.content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    overflow-y: scroll;
}

.music-capsules-grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

#inProfileContent .music-capsules-grid {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#fullview {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 9999;
}

.img-container {
    position: fixed;
    bottom: 0;
    height: 50%;
    overflow: hidden;
}

.img-container img {
    position: fixed;
    top: 80%;
    width: 1000px;
    height: 1000px;
    object-fit: cover;
    left: 0;
    transform: scale(3);
}

.slidercontainer {
    width: 100%;
    height: 100%;
    margin: 50px;
    z-index: 9999;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 15px;
    outline: none;
    background-color: #858585;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

/* Content */

.music-capsule {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: 120px 200px;
    grid-template-rows: 40px 40px 40px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    position: relative;
}

.music-capsule:hover {
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
}

.music-capsule:hover .visual .shadow-visual-top {
    display: block;
}

.music-capsule:hover .visual .shadow-visual-bottom {
    display: block;
}

.music-capsule:hover .music-interactions {
    display: flex;
}

.music-capsule .visual {
    grid-area: 1 / 1 / 4 / 2;
    overflow: hidden;
    position: relative;
    transition-delay: 0.5s;
}

.music-capsule img {
    margin: auto;
    max-height: 100%;
    width: auto;
    transition: all .5s;
    transform: scale(1.4);
}

.shadow-visual-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    width:100%;
    height: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.shadow-visual-top {
    display: none;
    position: absolute;
    top: 0;
    width:100%;
    height: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.music-capsule:hover .visual img,
.music-capsule:focus .visual img {
    transform: scale(5) translateX(-22%);
}

.music-capsule .info {
    display: block;
    height: 100%;
    text-align: center;
    width: max-content;
    padding: 5px;
    font-size: 18px;
}

.music-capsule #song-name {
    font-size: 20px;
    font-weight: bold;
}

.music-capsule #artist {
    margin-top: -10px;
}

.music-capsule #length {
    color: grey;
    margin-top: -20px;
}

.likes {
    position: absolute;
    bottom: 10px;
    right: 10px;
    justify-content: flex-end;
    margin: 0;
    display: flex;
}

#totalLikes {
    line-height: 40px;
    text-align: center;
}

.interaction-button {
    height: 40px;
    width: 40px;
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}

.interaction-button img {
    display: block;
    width: 100%;
    height: auto;
    background-position: center;
}

#like .liked {
    content: url("../imgs/ic_favourites_on.png");
}

#like:hover img {
    content: url("../imgs/ic_favourites_hover.png");
}

#like:hover .liked {
    content: url("../imgs/ic_favourites_on.png");
}

/*
 * ==== GENRES ====
 */

.genres-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #323232;
    overflow: scroll;
    padding-bottom: 50px;
    padding-top: 50px;
}

.genre-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    text-align: start;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    display: block;
    vertical-align: center;
    outline: none;
}

.genre-item:hover {
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-size: 18px;
    transition-duration: 0.1s;
}

.genre-selected-bold {
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-size: 18px;
}

.genre-title{
    font-size: 100px;
    color: rgba(255,255,255, 0.05);
    position: absolute;
    top: 30px;
    left: 280px;
    font-weight: bolder;
}

/*
 * ==== ERRORS ====
 */

.errorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#errorImg {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.errorTxt {
    color: white;
    text-align: center;
}

#errorTitle {
    font-size: 40px;
    font-weight: bold;
}

#errorSubtitle {
    font-size: 18px;
}

#backHome {
    color: #00c3ff;
}

/*
 * ==== UPLOAD ====
 */

.hero-body {
    overflow: scroll;
    height: 100%;
}

.upload-header {
    width: 100%;
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: block;
}

.upload-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upload-footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top:10px;
    gap:10px;
}

.upload-content-left {
    height: 300px;
    width: 200px;
    padding-top: 15px;
}

.upload-content-center {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.upload-content-right {
    height: 300px;
    width: 200px;
    padding-top: 15px;
}

.footer-horizontal {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.upload-button {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    height: 45px;
    line-height: 45px;
    width: 300px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
}

.upload-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.form-container {
    display: none;
}

#filters-container {
    display: none;
}

#genres-container {
    display: none;
}

#result {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition-duration: 0.5s;
    cursor: zoom-in;
}

#result:hover {
    transform: translateX(-100%) scale(5);
}

#cancelButton {
    display: none;
    background-color: #ff4747;
    position: absolute;
    color: white;
    width: 100px;
    font-weight: normal;
    font-size: 18px;
    bottom: 20px;
    right: 21px;
}

.text-button {
    position: absolute;
    border: none;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.text-button img {
    height: 100%;
    width: auto;
}

.text-button p {
    margin-right: 7px;
    display: none;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}

#editButton {
    top: 25px;
    right: 15px;
}

#editButton:hover p {
    display: block  ;
}

#regenerateButton {
    bottom: 20px;
    right: 15px;
}

#regenerateButton:enabled {
    cursor: pointer;
}

#regenerateButton:disabled {
    cursor: default;
}

#regenerateButton:disabled img {
    opacity: 0.2;
}

#regenerateButton:enabled img {
    opacity: 1;
}

#regenerateButton:enabled:hover p {
    display: block;
    width: 100%;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;
    transition: width 0.5s linear;
}

#previewButton {
    position: absolute;
    height: 100px;
    width: 100px;
    background: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    cursor: pointer;
    border: none;
}

#preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    display: none;
    justify-content: center;
}

.fullview {
    height: 130%;
    width: auto;
    background-color: black;
}

#download-button {
    background-color: #00c3ff;
    color: white;
    font-weight: bold;
}

.tiny {
    display: inline-block;
    width: 145px;
    font-weight: normal;
    font-size: 18px;
}

.visual-top-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    color: white;
}

.visualTitle {
    font-size: 20px;
    font-weight: bold;
}

.visualLength {
    color: rgba(255,255,255, 0.5);
}

#metadataEditor {
    display: none;
    padding-top: 20px;
}

.editor {
    width: 100%;
    display: block;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 20px;
    border: none;
    padding-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

#cancelEditButton {
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
}

#saveEditButton {
    background-color: rgba(0, 255, 89, 1);
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin: 0 0 0 5px;
}

#saveEditButton:hover {
    background-color: rgba(0, 255, 89, 0.5);
}

.uploading-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    position: relative;
}

.thumbnail-container {
    position: relative;
    height: 300px;
    width: 300px;
}

.side-container {
    width: 150px;
    padding-top: 30px;
}

.upload-side-title {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#titleFilter {
    text-align: right;
}

.upload-side-line {
    border-top: 3px solid white;
}

.side-items-container {
    display: block;
    position: relative;
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    padding: 5px 10px 30px;
}

.genre-upload-item {
    color: white;
    font-size: 15px;
    font-weight: normal;
}

.genre-upload-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.genre-selected {
    color: #00ff59;
    font-weight: bold;
}

.filter-item-container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.filter-icon {
    width: 50px;
    height: auto;
    position: absolute;
}

.filter-upload-item {
    text-align: end;
    width: 100%;
}

.filter-upload-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.shadow-bottom {
    display: block;
    position: relative;
    bottom: 30px;
    width:100%;
    height: 30px;
    background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(29,29,29,0) 100%);
}

/* LOADING */
.loader {
    display: none;
    position: absolute;
    border: 10px solid transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top:calc(50% - 40px);
    left:calc(50% - 40px);
}

#loader1 {
    animation: spin 700ms linear infinite;
    border-top: 10px solid #51a7e0; /* Blue */
}

#loader2 {
    animation: spin 1000ms linear infinite;
    border-top: 10px solid #3498db; /* Blue */
}

#loader3 {
    animation: spin 1300ms linear infinite;
    border-top: 10px solid #49a9ea; /* Blue */
}

#refreshLoader {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: auto;
    animation: spin 700ms linear infinite;
    display: none;
}

#background {
    filter: invert(0%);
}

.loginGenresError {
    color: rgba(255,255,255, 0.5);
    font-style: italic;
}

.loginGenresError a {
    color: #00c3ff;
}

#inGenres {
    margin-top: 100px;
}

/* PROFILE */

.profile-container {
    position: fixed;
    left: 300px;
    right: 30px;
    top: 0;
    padding-top: 70px;
    height: 100%;
}

#inProfileContent {
    position: relative;
    top: 0;
}

.notification-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.notification-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
    justify-items: center;
}

.notification-time {
    color: rgba(255,255,255,0.5);
}

.inPageErrorText {
    color: red;
}

/* ANIMATIONS */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeInSlideLeft {
    from { opacity: 0; margin-left: 100%; }
    to { opacity: 1; margin-left: 0;}
}
@keyframes fadeInSlideLeft {
    from { opacity: 0; margin-left: 100%; }
    to { opacity: 1; margin-left: 0%;}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0rem rgba(255,255,255, 0.2),
        0 0 0 1rem rgba(255,255,255, 0.2),
        0 0 0 2rem rgba(255,255,255, 0.2),
        0 0 0 5rem rgba(255,255,255, 0.2);
    }
    100% {
        box-shadow: 0 0 0 1rem rgba(255,255,255, 0.2),
        0 0 0 2rem rgba(255,255,255, 0.2),
        0 0 0 5rem rgba(255,255,255, 0.2),
        0 0 0 8rem rgba(255,255,255, 0);
    }
}

#mobileList {
    display: none;
}

#mobileList select {
    width: 100%;
    height: 40px;
}

#desktopList {
    display: block;
}

/* 750px = 2 * 200px + 300px + margins )*/
@media only screen and (max-width: 1023px) {
    .upload-content-left {
        width: 100%;
    }

    .upload-content-right {
        width: 100%;
    }

    .navbar-menu {
        background-color: #00000009;
        border-bottom: 2px solid #00000009;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }

    .navbar-burger {
        color: #fff;
    }

    a:hover {
        color: #fff;
    }

    #mobileList {
        display: block;
    }

    #desktopList {
        display: none;
    }

    #genresContent {
        left: 20px;
    }
}
