


body {
    background-color: rgb(29, 29, 29);
    position: fixed;
    width:100%;
    height: 100%;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#logo {
    height: 200px;
}

#mobile {
    height: 60%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.mockups {
    position: relative;
    padding: 20px;
}

.container div {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

#slogan {
    font-size: 64px;
}

.left {
    width: 100%;
    text-align: left;
    font-weight: normal;
}

.right {
    text-align: right;
    font-weight: normal;
}

big {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

.container-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.start-btn {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px white;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.start-btn:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 800px) {
    .container div {
        width: 100%;
        box-sizing: border-box;
    }

    #slogan {
        text-align: center;
        font-size: 64px;
    }
}