<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="appTopNav">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a id="logo-nav" class="navbar-item" href="https://fennecwave.com">
                        <img src="/imgs/logo.png" th:src="@{/imgs/logo.png}" width="auto" height="28" alt="FW">
                    </a>

                    <!-- Hamburger for mobile -->
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarcontainer">
                        <span class="hamburger-item" aria-hidden="true"></span>
                        <span class="hamburger-item" aria-hidden="true"></span>
                        <span class="hamburger-item" aria-hidden="true"></span>
                    </a>
                </div>

                <!-- Navigation items-->
                <div id="navbarcontainer" class="navbar-menu">
                    <div class="navbar-start">
                        <!-- New -->
                        <a th:if="${tab == 'new'}" th:href="@{/}" href="/" class="navbar-item selected" >New</a>
                        <a th:if="${tab != 'new'}" th:href="@{/}" href="/" class="navbar-item">New</a>
                        <!-- Trending -->
                        <a th:if="${tab == 'trending'}" th:href="@{/trending}" href="/trending" class="navbar-item selected" >Trending</a>
                        <a th:if="${tab != 'trending'}" th:href="@{/trending}" href="/trending" class="navbar-item">Trending</a>
                        <!-- Genres -->
                        <a th:if="${tab == 'genres'}" th:href="@{/genres}" href="/genres" class="navbar-item selected">Genres</a>
                        <a th:if="${tab != 'genres'}" th:href="@{/genres}" href="/genres" class="navbar-item">Genres</a>
                        <!-- Upload -->
                        <a th:if="${tab == 'upload'}" th:href="@{/upload}" href="/upload" class="navbar-item selected">Upload</a>
                        <a th:if="${tab != 'upload'}" th:href="@{/upload}" href="/upload" class="navbar-item">Upload</a>
                        <!-- TODO : Search -->
                        <a th:if="${tab == 'genres' || tab == 'trending' || tab == 'new'}" id="search-button" class="navbar-item" onclick="openSearchInput()">Search</a>
                        <div id="search-container" class="navbar-item">
                            <input id="search" class="input is-rounded" type="text" placeholder="Type a song or an artist!"
                                   oninput="filterVisuals()" onblur="closeSearchInput()">
                        </div>
                    </div>
                    <div class="navbar-end">
                        <!-- UserProfile -->
                        <a th:if="${tab == 'profile'}" th:href="@{/profile}" href="/profile" class="navbar-item selected" th:text="${session.loggedInUsername}"></a>
                        <a th:if="${tab != 'profile'}" th:href="@{/profile}" href="/profile" class="navbar-item" th:text="${session.loggedInUsername}"></a>
                        <a th:if="${session.loggedInUsername == null}" id="login-item" href="/login" class="navbar-item">Login</a>
                        <a th:if="${session.loggedInUsername == null}" href="/register" class="navbar-item">Register</a>
                        <a th:if="${session.loggedInUsername != null}" id="logout-item" href="/logout" class="navbar-item">Logout</a>
                    </div>

                    <!-- TODO : Profile connections -->
                    <!--<div class="navbar-end">

                    </div>-->
                </div>
            </nav>
        </div>
    </body>
</html>
