<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="favContainer" th:fragment="profileFavourites" class="profile-container">
            <div th:if="${visuals.size()}">
                <div id="inProfileContent" class="content">
                    <div class="music-capsules-grid">
                        <div th:each="file : ${visuals}">
                            <div th:replace="fragments/visual_container :: visualContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
