<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="notifContainer" th:fragment="profileNotification" class="profile-container">
            <div th:if="${visuals.size()}">
                <div id="inProfileContent" class="content">
                    <div th:each="file : ${visuals}" class="notification-container">
                        <div th:replace="fragments/visual_container :: visualContainer"></div>
                        <div class="notification-info-container">
                            <!-- One like -->
                            <div th:if="${file.likes.size() == 1}">
                                <div th:text="${file.likes.get(0).username} + ' liked your visual.'"></div>
                            </div>
                            <!-- Two likes -->
                            <div th:if="${file.likes.size() == 2}">
                                <div th:text="${file.likes.get(file.likes.size() - 1).username} + ' and ' +
                                 ${file.likes.get(file.likes.size() - 2).username} + ' liked your visual.'"></div>
                            </div>
                            <!-- More than two likes -->
                            <div th:if="${file.likes.size() >= 3}">
                                <div th:text="${file.likes.get(file.likes.size() - 1).username} + ', ' +
                                 ${file.likes.get(file.likes.size() - 2).username} + ' and ' + ${file.likes.size() - 2} + ' more liked your visual.'"></div>
                            </div>

                            <!-- Date of the newest like -->
                            <div class="notification-time" th:if="${file.likes.size() >= 1}" th:text="${file.likes.get(file.likes.size() - 1).time}"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
