<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:if="${file != null}" th:fragment="visualContainer" class="music-capsule"
             th:data-file="${file.pathServed}"
             th:onclick="document.getElementById('visualFullviewImg').src = this.getAttribute('data-file'); document.getElementById('download-button').href = this.getAttribute('data-file'); document.getElementById('fullview').style.display = 'flex';">
            <div class="visual">
                <img th:src="${file.pathServed}"/>
                <div class="shadow-visual-top"></div>
                <div class="shadow-visual-bottom"></div>
            </div>

            <!-- Visual Information -->
            <div id="song-name" class="info" th:text="${file.title}"></div>
            <div id="artist" class="info" th:text="${file.subtitle}"></div>
            <div id="length" class="info" th:text="${file.length}"></div>

            <div class="likes">
                <div id="totalLikes" th:text="${file.likes.size()} + ' like' + ((${file.likes.size()} > 1) ? 's' : '')"></div>
                <button th:if="${session.loggedInUsername != null}" id="like" class="interaction-button"
                        th:data-uname="${session.loggedInUsername}"
                        th:data-vid="${file.id_visual}"
                        th:onclick="likeVisual(this.getAttribute('data-vid'), this.getAttribute('data-uname')); event.stopPropagation();">
                    <img th:if="${file.getUsernameLikes().contains(session.loggedInUsername)}" src="../imgs/ic_favourites_on.png" alt="Fav">
                    <img th:if="${!file.getUsernameLikes().contains(session.loggedInUsername)}" src="../imgs/ic_favourites_off.png" alt="Fav">
                </button>
                <button id="stream-button" class="interaction-button"
                        th:data-tit="${file.title}"
                        th:data-sub="${file.subtitle}"
                        th:data-vid="${file.id_visual}"
                        th:onblur="closeStreamBox(); event.stopPropagation();"
                        th:onclick="streamVisual(this.getAttribute('data-tit'), this.getAttribute('data-sub'), this.getAttribute('data-vid')); event.stopPropagation();">
                        <img src="../imgs/ic_stream_off.png" alt="Stream">
                </button>
                <div class="stream-box" th:data-vid="${file.id_visual}" style="display: none; position: absolute; background-color: #00c3ff; padding: 5%;";></div>
            </div>
        </div>
    </body>
</html>
