
html {
    height: 100%;
}

body {
    background-color: #1D1D1D;
    width: 100%;
    height: 100%;
    position: fixed;
}

/*
 * ==== GENERAL ====
 */

 #version {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #292929;
    background-color: transparent;
    font-weight: bold;
}

/*
 * ==== LOGIN ==== 
 */

.form-title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.form-subtitle {
    color: rgba(0, 0, 0, 0.577);
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-footer {
    color: rgba(255, 255, 255, 0.577);
    text-align: center;
    font-size: 16px;
}

#logo-login {
    margin-bottom: 20px;
}

/*
 * ==== TOP NAVIGATION BAR ====
 */

#topnavigationbar {
    background-color: #00000081;
    border-bottom: 2px solid #00000081;
    backdrop-filter: blur(15px);
}

#search {
    background-color: white; 
    color: black;
    border: none;
    display: none;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.4s;
}   

#search-container {
    width: 100%;
}

#login-item {
    color: #00c3ff;
}

#login-item:hover {
    background-color: transparent;
    border-bottom: 2px solid #00c3ff;
    margin-bottom: -2px;
}

#register {
    background-color: #f5f5f5;
    width: 100px;
}

#register:hover {
    background-color: #c2c2c2;
}

#customitem {
    color: white;
}

#customitem:hover {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

.selected {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

#search-button {
    color: white;
    line-height: normal;
}

#search-button:hover {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

#login-username {
    display: none;
}

#hamburger-item {
    background-color: white;
}
/* 
 * ==== Main content container ====
 */

.content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D1D1D;
    overflow-y: scroll;
}

.music-capsules-grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Content */

.music-capsule {
    background-color:#0000002c;
    border-radius: 30px;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 1.5fr;
    grid-column-gap: 10px;
    padding: 10px;
    padding-bottom: 17px;
    color: white;
    transition-duration: 0.3s; 
}

.music-capsule:hover {
    background-color:#000000a6;
    border: 2px solid white;
}

.music-capsule img {
    margin: auto;
    max-height: 100%;
    width: auto;
    grid-area: 1 / 1 / 5 / 2;
}

.music-capsule .song-name {
    grid-area: 1 / 2 / 2 / 4; 
    font-weight: bold;
    font-size: 18px;
}

.music-capsule .artist {
    grid-area: 2 / 2 / 3 / 4;
    font-size: 18px;
}

.music-capsule .length {
    grid-area: 3 / 2 / 4 / 4;
    color: grey;
    font-size: 16px;
}

.music-interactions { 
    grid-area: 4 / 2 / 5 / 4;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.interaction-button {
    display: none;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.music-capsule button:hover {
    background-color: #00c3ff;
}


/*
 * ==== GENRES ====
 */

.genres-sidenav {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 270px;
    background: #323232;
}

.genre-item {
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    text-align: start;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.genre-item:hover {
    background-color: #ffffff20;
}

/*
 * ==== UPLOAD ====
 */

#upload-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

#uploadButton {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 80%;
    font-size: 22px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

/* ANIMATIONS */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}